body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

* {
  box-sizing: border-box; 
}

#app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #555;
}

input, select, button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background: #090a69;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #090a69;
}

#invoice {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Contenedor de los botones y cantidad */
.right-controls {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaciado entre botones */
}

/* Controles de cantidad (botón menos, número, botón más) */
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Estilo de los botones */
.quantity-btn, .remove-btn {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.minus-btn, .plus-btn {
  background-color: #090a69;
  color: white;
}

.remove-btn {
  background-color: #d62d2d;
  color: white;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#reporte-section, #productos-bajo-stock-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#reporte-content, #productos-bajo-stock-content {
  margin-top: 10px;
}
